/* latin */
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtU2Hw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* latin */
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Play Bold'), local('Play-Bold'), url(https://fonts.gstatic.com/s/play/v11/6ae84K2oVqwItm4TCpAy2g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html{
    font-size: 18px;
    font-family: 'Play',serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    margin: 0 auto;
    display: block;

}

.resistor{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
}

.terminal{
    margin: auto 0;
    height: 10px;
    width: 100px;
    background-color: rgb(66, 66, 65);
    border: 5px solid black;
}
.resistor-box{
    height: 100px;
    width: 300px;
    background-color: blanchedalmond;
    border: 5px solid black;
    /*margin: 100px auto;*/
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
/*Display Box*/

.display
{
    width: 250px;
    height: 50px;
    background-color: white;
    margin: 20px auto 0 auto;
    text-align: center;
    font-size: 2rem;
}

.display span{
    font-size: .6em;
}
/*Colors*/
.color-bar{
    width: 20px;
    height: 90px;
    border-left: 2px solid black;
    border-right: 2px solid black; ;
}

#first{
    background-color:black;
    margin: 0 40px;
    margin-left: 40px;
}

#second{
    background-color:black;
    margin-right: 10px;
}

#third{
    background-color:black;
    
}

#fourth{
    background-color: black;
    margin: 0 10px;
}

#fifth{
    background-color: gold;
}

#sixth{
    background-color: red;
    margin: 0 40px;
}

table{
    margin: 50px auto;
    border-spacing: 20px 0;
    font-weight: bold;
    text-align: center;
}


td{
    width: 60px;
    height: 40px;
    border: 1px solid black;
    cursor: pointer;
}

td:hover{
    border: 6px solid lightskyblue;
}

.black{
    color: white;
    background-color: black;
}


.brown{
    color: black;
    background-color: brown;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.grey{
    background-color: gray;
}

.white{
    background-color: honeydew;
}

.button{
    margin: 0 auto;
    border: 2px solid black;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.button:hover{
    transition: .5s;
    background-color: white;
}