*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html{
    font-size: 18px;
}

body{
    height: 100vh;
    width: 100%;
    background-color: blueviolet;
    margin: 0 auto;
    display: block;

}

.resistor{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 200px;
}

.terminal{
    margin: auto 0;
    height: 10px;
    width: 100px;
    background-color: rgb(66, 66, 65);
    border: 5px solid black;
}
.resistor-box{
    height: 100px;
    width: 300px;
    background-color: beige;
    border: 5px solid black;
    /*margin: 100px auto;*/
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.color-bar{
    width: 20px;
    height: 90px;
    border-left: 2px solid black;
    border-right: 2px solid black; ;
}

#first{
    background-color:red;
    margin: 0 40px;
    margin-left: 40px;
}

#second{
    background-color:yellow;
    margin-right: 10px;
}

#third{
    background-color:grey;
    
}

#fourth{
    background-color: blue;
    margin: 0 10px;
}

#fifth{
    background-color: brown;
}

#sixth{
    background-color: gold;
    margin: 0 40px;
}

table{
    margin: 100px auto;
    border-spacing: 20px 0;
    font-weight: bold;
    text-align: center;
}


td{
    width: 60px;
    height: 40px;
    border: 2px solid black;
    cursor: pointer;
}

.black{
    color: white;
    background-color: black;
}

.brown{
    color: black;
    background-color: brown;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.grey{
    background-color: gray;
}

.white{
    background-color: honeydew;
}